* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #EBECEC;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.regForms {
    margin: 0;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    width: auto;
    text-align: center;
}

.top-form h2  {
    padding: 10px;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}
.top-form p  {
    padding: 20px;
    padding-bottom: 2rem;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.Registration {
    margin: auto;
    padding: 30px;
    height: auto;
    background-color:#FFFFFF ;
    padding-bottom: 2rem;
    text-align: center;
    

}
.Registration td {
    padding: 1em;
}
.type.text {
    width: 500px;
    padding: auto;

}
input.rounded {
    border-color: #121212;
}
.upload-fie {
    padding: 20px 7px;
    border:1px solid ;
    outline: none;
    border-radius: 12px;
    height: 28px;
    width:500px; 
    align-items: center;
    justify-content: center;
    color: #898B8F;
    margin-top: 1em;
}
.cont {
    margin: auto;
    width: 100%;
    border:1px solid ;
    padding: 20px 10px;
    outline: none;
    border-radius: 12px;
    height: 28px;
    padding-bottom: 20px;
    align-items: center;
}
.cont-2{
    float: left;
}
.cont-1 {
    float: right;
}

input.rounded, .btn{
    border:1px solid ;
    padding: 20px 7px;
    outline: none;
    border-radius: 12px;
    height: 28px;
    width:500px;
    box-sizing: border-box;

}
input.rounded::placeholder{
    width: 154px;
}
.rounded::placeholder{
font-weight: 400;
size: 16px;
line-height: 28px;
color: #898B8F;
}
.upload-fie .butn {
    border-radius: 12px;
}
.butn{
    background-color: #1F78FF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    width: 64px;
    
  
   
}
input:hover,
.btn:hover {
  opacity: 0.5;
}
#upload-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

.bluebold {
    color: #1F78FF;
    text-decoration: none;
}
.bluebold:hover {
    text-decoration: underline;
}
.color-pale {
    color: #898B8F;
}
.color-l-pale {
    color: #7B7D81;
}
label .color-l-pale,.bluebold {
    font-weight: 400;
    font-size: 16px;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #121212;
    font-weight: 600;
    font-size: 20px;
    text-decoration-line: none;
}
.btn img{
    border-radius: 50%;
}
.btn-flex a{
    border-color: #1F78FF;
}
.btn-goo a{
    border-color: #36393F;
}
.form-submit button{
    background-color: #1F78FF;
    color: #FFFFFF;
}
.hline {
    display: flex;
    flex-direction: row;
}
  
.hline:before,
.hline:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #898B8F;
    margin: auto;
}
@media screen and (max-width:700px) {
    body {
        text-align: center;
    }
    
}

@media screen and (max-width:500px) {
    body {
        text-align: center;
    }
}

/* global-partnership page */
.global-main-container {
    padding: 75px 0px 40px 0px;
    width: 100%;
}
.global-main-heading {
    text-align: center;
    padding: 28px;
}
.global-top-bg-text {
    background-image: url("../images/hq-image.png");
    background: 0,0,0,0.5;
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    padding-top: 12%;

    
}
.global-bottom-bg-text{
    background-image: url("../images/global-part-bg.png");
    height: 10%;
    width: 100%;
    padding: 5% 10%;
}
.global-top-bg-text a {
    color: #1F78FF;
    text-decoration: none;
}
.global-top-bg-text h4 {
    padding-bottom: 14px;
    font-size: 28px;
    font-weight: bold;
    
}
.global-top-bg-text p, a {
    font-weight: 500;
    font-size: 24px;
    width: 41%;
}
.global-article {
    padding: 12px 36px; 
    width: 100%;
}
.global-article p {
    padding-top: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    
}
.global-article h4 {
    padding-top: 12px;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
}
.global-article ul {
    padding-left: 36px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}
.global-article-heading2 {
    font-weight: 500;
}
.global-bottom-bg-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
   
    
}
.global-bottom-bg-text h4 {
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
}
.bottom-blue {
    color: #1F78FF;
}
.global-bottom-butn {
    background-color: #1F78FF;
    padding: 12px;
    border-radius: 12px;
    margin-top: 24px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}
@media screen and (max-width: 700px) {
    
}