/* import font family */
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins");

/* end of import */


/* variable specification */
:root {
    --font-family1: "Plus Jakarta Sans";
    --font-family2: "Poppins";
    --primary-Color: #1F78FF;
    --logo:url("./images/logo.png")
}

/* end variable specification */


/* default css reset */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    
}


/* end css reset */

/* desktop breakpoint */

@media screen and (max-width:1440px) {
    body {
        font-family: var(--font-family1);
    
    }
    .logo>a{
        content:var(--logo);
        width:70%;
        align-self: center;

    }
    .intro-container{
        padding:89px 0% 0% 0%;
    }
    
    .top-login-option {
        padding: 10px 0px 0px 0px ;
        font-weight: 400;
        text-align: right;
        font-family: "Poppins";
    }
    
    .intro-heading {
        font-weight: 800;
        padding: 10px 0px 64px 0px ;
        text-align: center;
    }
    
    .main-container {
        
        height: 100%;
        margin: 0% 5%;
        
    }
    
    .footer-main-container {
        padding-top: 10%;
        bottom: 0px;
        text-align: center;
    }
    
    h2 {
        padding-bottom: 1rem;
        font-weight: 900;
    }
    
    h4 {
        padding: 1em 0em;
        font-weight: 600;
    }
    
    .top-login-option>a {
        color: var(--primary-Color);
        cursor: pointer;
    }.requirement-paragraph{
        line-height: 36px;
    }
    
    .requirement-lists>li {
        margin: 0px 1.58rem;
        line-height: 36px;
    }
    
    .requirement-button-container {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        text-align: center;
    }
    
    .requirement-button-container>a {
        color: white;
        width: 536px;
        background-color: var(--primary-Color);
        padding: 10px;
        box-shadow: 0px 1px 5px rgba(31, 120, 255, 0.25);
        align-self: center;
        border-radius: 12px;
    }
    
}
/* mobile  breakpoint */
@media screen and (max-width:414px),(max-width:540px) {

    .intro-container{
        padding:89px 0% 0% 0%;
    }
    .intro-heading {
        font-weight: 800;
        padding: 10px 0px 54px 0px ;
        text-align: center;
    }

    .main-container {
        
        height: 100%;
         padding:0px 0.2%;
    }

    .footer-main-container {
        bottom: 0px;
    }
    h2{
        padding-bottom: 1rem;
        font-weight: 900;
    }
    
    h4 {
        padding: 1em 0em;
        font-weight: 600;
    }
    
    .top-login-option>a {
        color: var(--primary-Color);
        cursor: pointer;
        
    }
    
    .requirement-lists>li {
        margin: 0px 1.58rem;
    }
    .requirement-paragraph{
        line-height: 26px;
        
        word-break: keep-all;
    }
    
    .requirement-button-container {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        text-align: center;
    }
    
    .requirement-button-container>a {
        color: white;
        
        background-color: var(--primary-Color);
        padding: 10px;
        box-shadow: 0px 1px 5px rgba(31, 120, 255, 0.25);
        align-self: center;
        border-radius: 12px;
        font-size: small;
    }

}
